AI_BASE_URL=https://你的中转站地址

GPT_TEXT_API_KEY=your_text_generation_key_here
GPT_TEXT_MODEL=your_text_model_name

GPT_IMAGE_API_KEY=your_image_generation_key_here
GPT_IMAGE_MODEL=your_image_model_name

AI_TEXT_TIMEOUT_SECONDS=30
AI_IMAGE_TIMEOUT_SECONDS=90
